/* .back-button{
    top:0;
    left:0;
} */


.agriData-container{
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
    /* text-wrap: wrap; */
}


.agriData-container h1, h2{
    color: rgb(9, 133, 36);
}

.agriData-container h2{
    display: none;
}


.form-group {
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will space out your form groups */
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    /* color: #555; */
  }
  
  /* Same width for input and select elements */
  input, select {
    width: 65%; 
    max-width: 250px; 
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    background-color: transparent !important;
    color: #000;
  }
   
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .form-group {
      width: 100%;
    }
    input, select, button {
      width: 90%; /* Increase width for smaller screens */
      color: #000;
    }

    .agriData-container h1{
        display: none;
    }

    .agriData-container h2{
        display: block;
    }
  } 

  .buttons {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-around;  
    align-items: center;
    align-self: center;
    margin: 10px;
    color: rgb(9, 133, 36);
    gap: 20px; 
    /* width: 50%; */
  }

  /* Link {
    color: rgb(9, 133, 36);
  } */