#body{
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#body h1, h2, button{
    color: rgb(9, 133, 36);
}

Button {
    cursor: pointer;

}

@media screen and (max-width: 768px){
    #body{
        display: flex;
        flex-direction: column;
    }

    Button{
        width: 100%;
        background-color: rgb(9, 12, 10);
        border: 1px solid transparent;
    }
    
}